

body{
   
    margin:0;
    padding:0;
    height: 100vh;
    width:100vw;
}

#mainContainer{
    height: 100%;
    width:100%;
    margin:auto;
}

#gameContainer{
    border-radius: 100%;
    height: 95%;
    width:100vh;
    margin:auto;
    position: relative;
    top:2.4%;
}
.row {
    height: 5.88235294118%;
    display: flex;
    justify-content: center;
}

.pluppB, .pluppR, .plupp {
    border-radius: 100%;
    background-color: rgb(185, 185, 185);
    height: 100%;
    width: 55px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    background-size: cover;
    border: 2rem;
}
