body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#gameContainer {
    width: 100%; /* Make the game container responsive */
    height: auto; /* Auto height */
    max-width: 1000px; /* Limit maximum width */
    margin: auto;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;

}

.plupp {
    border-radius: 100%;
    background-color: #B9B9B9;
    width: 5%; 
    padding-top: 5%; 
    margin: 0.4%;
    margin-top: 0;
}