#gameContainer {
    max-width: 950px;
    margin: auto;
    margin-top: 1%;
}

.row {
    display: flex;
  
}

.plupp{
    border-radius: 100%;
    background-color: #B9B9B9;
    width: 5%; 
    max-width: 50px;
    padding-top: 5%; 
    margin: 0.4%;
    margin-top: 0;
}

#turnpiece, #turn{
    border-radius: 100%;
    width: 5%; 
    padding-top: 5%; 
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
}

